.navbar{
    border-bottom: solid 1px;
}

ul{
    display: flex;
    justify-content: end;
    margin: 0;
    padding: 1rem 1rem;    
    /* padding-bottom: 1rem;
    padding-top: 1rem; */
    gap: 2rem;
    
}

li{
    list-style: none;
    font-size: 2rem;
    cursor: pointer;
}

Link{
    text-decoration: none;
  }